.navbar {
    background-color: #000000a3; // Cor de fundo da navbar
    padding: 12px 3%; // Espaçamento interno
    text-align: center; // Alinhamento do texto
    text-transform: uppercase; // Transforma o texto em maiúsculas
    font-family: Arial, Helvetica, sans-serif; // Fonte
    font-size: 20px; // Tamanho da fonte

    .page-title {
        color: white; // Cor do texto do título
    }
}

